# ÁRBOLES DE DECISIÓN


### Transformaciones

In [1]:
# #? Cargamos las librerias
from sklearn import tree

### Cargamos los datos desde un archivo .CSV

In [2]:
# Cargamos las librerias
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [3]:
datos = pd.read_csv("./dataset/Dataset.csv")
datos

    resting-ecg  maximum-heart-rate    thal    class
0           Hyp                 132     Rev     Sick
1        Normal                 171  Normal  Healthy
2           Hyp                 144  Normal  Healthy
3           Hyp                 147     Rev     Sick
4           Hyp                 155     Rev     Sick
..          ...                 ...     ...      ...
298      Normal                 175  Normal  Healthy
299      Normal                 168     Rev  Healthy
300         Hyp                 126  Normal     Sick
301         Hyp                 121  Normal  Healthy
302      Normal                 163  Normal  Healthy

[303 rows x 4 columns]

###  Renombramos las etiquetas de las columnas del dataset

In [4]:
datos = datos.rename(columns={'resting-ecg':'Reposo',
                              'maximum-heart-rate':'Frecuencia_Cardiaca',	
                              'thal':'Estado',
                              'class':'Diagnostico'})
datos

     Reposo  Frecuencia_Cardiaca  Estado Diagnostico
0       Hyp                  132     Rev        Sick
1    Normal                  171  Normal     Healthy
2       Hyp                  144  Normal     Healthy
3       Hyp                  147     Rev        Sick
4       Hyp                  155     Rev        Sick
..      ...                  ...     ...         ...
298  Normal                  175  Normal     Healthy
299  Normal                  168     Rev     Healthy
300     Hyp                  126  Normal        Sick
301     Hyp                  121  Normal     Healthy
302  Normal                  163  Normal     Healthy

[303 rows x 4 columns]

### Transformamos los valores nominales a numéricos

In [5]:
a = {'Rev':5, 'Fix':7,'Normal':6}
b = {'Hyp':3,'Normal':4,'Abnormal':2}
c = {'Sick':0, 'Healthy':1}
datos['Reposo'] = datos['Reposo'].map(b)
datos['Estado'] = datos['Estado'].map(a)
datos['Diagnostico'] = datos['Diagnostico'].map(c)
datos

     Reposo  Frecuencia_Cardiaca  Estado  Diagnostico
0         3                  132       5            0
1         4                  171       6            1
2         3                  144       6            1
3         3                  147       5            0
4         3                  155       5            0
..      ...                  ...     ...          ...
298       4                  175       6            1
299       4                  168       5            1
300       3                  126       6            0
301       3                  121       6            1
302       4                  163       6            1

[303 rows x 4 columns]

In [6]:
datos

     Reposo  Frecuencia_Cardiaca  Estado  Diagnostico
0         3                  132       5            0
1         4                  171       6            1
2         3                  144       6            1
3         3                  147       5            0
4         3                  155       5            0
..      ...                  ...     ...          ...
298       4                  175       6            1
299       4                  168       5            1
300       3                  126       6            0
301       3                  121       6            1
302       4                  163       6            1

[303 rows x 4 columns]

### Cambiamos las etiquetas de diagnostico
* DIAGNOSTICO
- Sick = 0
- Healthy = 1
* REPOSO
- Abnormal = 2
- Hyp :3
- Normal_reposo = 4
* TAL
- Rev = 5
- Normal_tal = 6
- Fix = 7

#### Variables dependientes e independientes

In [7]:
# Variables Independientes
 
vi = ['Reposo', 'Frecuencia_Cardiaca', 'Estado']
x = datos[vi].values

# Variable dependiente

y = datos['Diagnostico']

In [8]:
# import warnings
# warnings.filterwarnings('ignore')

### Generar el modelo de clasificacion

In [9]:
# Definimos una variable para el algoritmo de clasificación

clasificador = tree.DecisionTreeClassifier()

# Entrenar al algoritmo de Clasificación

clasificador.fit(x,y)

# Predicciones

predicciones = clasificador.predict([[2,150,7]])

if predicciones == 0:
    print('Enfermo')
else:
    print('Sano')

Sano

* DIAGNOSTICO
- Sick = 0
- Healthy = 1
* REPOSO
- Abnormal = 2
- Hyp :3
- Normal_reposo = 4
* TAL
- Rev = 5
- Normal_tal = 6
- Fix = 7